@import '~styles/base';

.root {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

%open_state {
  display: block;
  opacity: 1;
}

.enter {
  display: block;
  opacity: 0;

  &Active {
    @extend %open_state;
  }

  &Done {
    @extend %open_state;
  }
}

.exit {
  @extend %open_state;
  transition: opacity 0.3s ease-in-out;

  &Active {
    opacity: 0;
  }

  &Done {
    display: none;
    opacity: 0;
  }
}
