@import url('https://fonts.googleapis.com/css?family=Lato|Martel+Sans'); // sass-lint:disable-line no-url-protocols no-url-domains

@mixin heading_font() {
  font-family: 'Lato', sans-serif;
}
@mixin info_font() {
  font-family: 'Lato', sans-serif;
}
@mixin reading_font() {
  font-family: 'Martel Sans', serif;
}
