@import '~styles/base';

.root {
  display: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, transform;
}

%open_state {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

%close_state {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}

.enter {
  @extend %close_state;
  display: block;

  &Active {
    @extend %open_state;
    display: block;
  }

  &Done {
    @extend %open_state;
    display: block;
  }
}

.exit {
  @extend %open_state;
  display: block;

  &Active {
    @extend %close_state;
    display: block;
  }

  &Done {
    @extend %close_state;
    display: none;
  }
}
