@import '~styles/base';

.root {
  display: inline-block;
  position: relative;
  min-width: $card_size*1.25;
  min-height: $card_size*1.25;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
